.box{
    height: 58px;
    width: 128px;
    border: 1px solid #9A9A9A;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 8px;
    justify-content: space-between;
}

input[type="radio"]{
    height: 25px;
    width: 25px;
}
.img{
    height: 70px;
    width: 70px;
}

.checked{

    /* border: rgba(241, 101, 33, 1); */
    background: rgba(241, 101, 33, 1);

}