.dustbin {
  display: flex;
}
.icon {
  width: 16px;
  height: 16px;
  margin-top: 12px;
  margin-left: 22px;
}
.icon:hover {
  cursor: pointer;
  color: red;
}
.whishlist {
  width: 16px;
  height: 16px;
  margin-top: 12px;
  margin-left: 22px;
}
.whishlist:hover {
  cursor: pointer;
  color: #f16521;
}