.card{
    /* position: absolute; */
    height: 46px;
    width: 716px;
    /* left: 178px;
    right: 546px;
    top: 95px; */
    background: #F9F9F9;
    border: 1px solid #F3F5F7;
    box-sizing: border-box;

    display: flex;
    /* padding-left: 18px;
    padding-right: 13px; */
    justify-content: space-between;
    align-items: center;
    /* margin-left: 12.36%; */
}