.mainDiv {
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 0px #E7E7E7;
  margin-bottom: 1px;
  background-color: white;
}

.mainDiv a {
  text-decoration: none;
  color: inherit;
}

.companyLogo {
  width: 180px;
  height: 44px;
  /* margin-left: 178px; */
  margin-top: -10px;

  /* background: linear-gradient(90deg, #ee2224 0%, #f16521 100%); */
}

.searchDivParent {
  width: 612px;
  height: 44px;
  margin-left: 28px;
  padding-right: 10px;
  border-radius: 4px;
  background: #f8f8f8;
}
.searchDiv {
  width: 612px;
  height: 44px;
  border-radius: 4px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #f8f8f8;
  /* padding-right: 10px; */
  position: relative;
}

.searchDivParent:focus-within {
  border-bottom: 2px solid #F16521 !important;  
  border-radius: 4px;
}
.searchBox {
  width: 550px;
  height: 44px;
  border-radius: 0px;
  margin-top: 0px;
  padding-left: 15px;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: #707070;
  border: 0px;
  outline: none;
  background: #f8f8f8;
}

.searchBox:focus, .searchBox:active {
  background: #f8f8f8;
}

.searchIcon {
  margin-top: 12px;
  margin-left: 25px;
  width: 16px;
  height: 16px;
}
.icondiv {
  width: 220px;
  height: 42px;
  margin-left: 28px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  text-align: center;
  /* justify-content: space-between; */
}
.iconOne {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  width: 32px;
  height: 42px;
  /* border: 1px solid black; */
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.06em;
  text-align: center;
}
.iconOne:hover {
  color: #f16521;
}
.icon {
  width: 18px;
  height: 16px;
}

.autocomplete {
  width: 590px;
  text-align: left;
  position: absolute;
  top: 62px;
  z-index: 5;
  margin: 0px auto;
  padding: 16px;
  background-color: #FFFFFF;
  box-shadow: -1px -1px 0px #E7E7E7, 1px 1px 0px #E7E7E7;
}

.autocompleteItems {
  /* border-bottom: 1px solid black; */
  cursor: pointer;
  color: black;
  margin-bottom: 0px;
}
.autocompleteItems > p {
  padding: 0px;
  margin: 0px;
  margin-bottom: 12px;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.06em;
}
.autocompleteItems:hover {
  background: #f8f8f8;
}
