p {
  margin-left: 5px;
}

.mainDiv {
  width: 236px;
  height: 440px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  text-align: left;
  background: #ffffff;
}
.home {
  margin-left: 24px;
  margin-top: 20px;

  width: 35px;
  height: 16px;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.06em;
  color: #707070;
}

.applyfilter {
  height: 24px;
  width: 196px;
  border-bottom: 2px solid #000000;
  font-family: "Hammersmith One", sans-serif;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
  color: #000000;
  margin-left: 24px;
  padding-left: 1px;
}
.brand {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  height: 32px;
  width: 196px;
  margin-left: 24px;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}
.brandname {
  width: 50px;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.06em;
  color: #707070;
}

.searchImage {
  width: 18px;
  height: 18px;
}

.formDiv {
  width: 196px;
  height: 280px;
  /* border: 1px solid black; */
  margin-top: 10px;
  margin-left: 24px;
}
.inputdiv {
  display: flex;
  width: 140px;
  height: 10px;
  /* border: 1px solid black; */
  align-items: center;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 20px;
}

input[type="checkbox"] {
  height: 18px;
  width: 24px;
  color: #f16521;
}

input[type="checkbox"]::after {
  color: #f16521;
}

.inputdiv p {
  margin-top: 3px;
  font-size: 14px;
  line-height: 18px;
}
