.mainDiv {
  width: 100%;
  height: 184px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search {
  font-family: "Hammersmith One", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
  color: #707070;
}

.sofa {
  width: 149px;
  height: 24px;
  font-family: "Hammersmith One", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #000000;
}
.details {
  display: flex;
  flex-direction: row;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.06em;
  color: #000000;
  margin-top: 30px;
  gap: 35px;
}
.furniture:hover {
  color: #f16521;
}

.furnishing:hover {
  color: #f16521;
}
