.font{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding-top: 10px;
    letter-spacing: 0.06em;
}

.display{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    
}
.m{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
    top: 95px;
    box-sizing: border-box;
}

.cardDisplay{
    display: flex;
    justify-content: space-between;
    width: inherit;
    padding: 2px;
    margin-top: 8px;
    padding-right: 6px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2px;
    width: 310px;
    background: #FFFFFF;
      padding: 6px 6px;
    box-shadow: -1px -1px 0px #E7E7E7, 1px 1px 0px #E7E7E7;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.06em;
    color: #707070;

}
.card1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 6px;
    height: 46px;
    width: 310px;
    background: #FFFFFF;
    box-shadow: -1px -1px 0px #E7E7E7, 1px 1px 0px #E7E7E7;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.06em;
    color: #000000;
    margin-top: 10px;

}

.contribution{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.06em;
    color: #707070;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
    padding-left: 10px;
    text-align: start;
}

.bank{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 16px;
    padding: 18px;
    height: 54px;
    width: inherit;
    background: #FFFFFF;
  
    border: 1px dashed #9A9A9A;
    box-sizing: border-box;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    letter-spacing: 0.06em;


    color: #9A9A9A;

}

.secureFont{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    letter-spacing: 0.06em;

    color: #000000;
}
.totalPrice{
    text-align: right;
}
.emi_div {
  width: 310px;
  height: 64px;
  padding: 8px 5px;
   border: 1px solid #E5E5E5;;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 00.06em;
  margin-top: 10px;
}
.emi_p {
  margin: 0px;
  color: #707070;
  padding:0px;
  padding-top: 20px;
  font-weight: 500;
  text-align: start;
  font-size: 10px;
  line-height: 12px;
  text-align: left;
}
.emi_span {
  margin: 0px;
  color: #14a9cc;
  text-decoration: underline;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 00.06em;
}

.gst_starts {
  /* border:1px solid black; */
  margin-top: 10px;
  width: 348px;
  text-align: left;
}
.gst_inner_starts {
  display: flex;
  margin-top: 15px;
  /* border:1px solid black; */
}
.chk {
  margin: 0px;
  margin-top: 5px;
}

.gst_content {
  width: 310px;
  margin-top: 3px;
  color: #707070;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.06em;
}
.gst_content1 {
  width: 310px;
  color: #707070;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.06em;
}
.gst_h1 {
  width: 310px;
  margin: 0px;
  margin-left: 0px;
  margin-top: 3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.06em;
}

