.wrapperDiv {
  width: 100%;
  height: 100%;
}


.wrapperDiv {
  max-width: 960px;
  height: 600px;
  margin: auto;
  box-shadow: 6px 6px 7px 2px rgba(0, 0, 0, 0.25);
  /* display: flex;
  flex-direction: row; */
  margin-top: 150px;
  background-color: #F3F5F7;
  text-align: center;
}

.animationDiv {
  width: 200px;
  padding-top: 30px;
  margin: auto;
}

.processingDiv {
  max-width: 368px;
  height: 44px;
  margin: auto;
}
.procesingP {
  font-family: "Hammersmith One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.06em;
  color: #000000;
  margin-top: 90px;
  text-align: center;
}
.transectionId {
  max-width: 368px;
  height: 18px;
  margin: auto;
  text-align: center;
  margin-bottom: 127px;
}
.paymentP {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.06em;
  color: #707070;
  padding-left: 22px;
}
.thankyouDiv {
  max-width: 368px;
  height: 18px;
  margin: auto;
}
.thankyouPDiv {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.06em;
  color: #707070;
  text-align: center;
}
.donotClose {
  max-width: 202px;
  height: 18px;
  margin: auto;
  margin-top: 36px;
}
.donotCloseP {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.06em;
  color: #000000;
}
