.navParent {
    width: 100%;
    box-shadow: 0px 4px 0px #E7E7E7;
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 4;
}

.nav{
    display: flex;
    max-width: 1085px;
    height: 72px;
    justify-content: space-between;
    margin: auto;
}
.web_img{
    max-width: 180px;
    height: 38px;
    margin-top: 17px;
    display: flex;
    flex-direction: row;
    /* margin-left: 178px; */
}

.breadcrumbDiv {
    display: flex;
}
.cart{
     margin-top: 26px;
     /* margin-left: 178px; */
     font-weight: 400;
     font-size: 14px;
     letter-spacing: 0.06em;
     color: #F16521;
}
.del{
    color: #707070;
    margin-top: 27px;
     font-weight: 400;
     font-size: 14px;
     letter-spacing: 0.06em;
}
.payment{
    color: #707070;
    margin-top: 27px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.06em;

}
.bell{
    width: 24px;
    height: 24px;
    margin-top: 27px;
    /* margin-left: 300px; */
}
.bell_1{
    width: 4px;
    margin-top: 16px;
    margin-left: -10px;

}

.userName {
    margin-top: 27px;
}

.leftDiv {
    min-width: 180px;
    display: flex;
    gap: 20px;
}
