.productMainDiv {
  width: 100%;
  background: #f1f1f1;
  position: relative;
  top: 120px;
}

.tabbarDiv {
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: white;
}
.sortingDiv {
  display: flex;
  flex-direction: row;
  width: 1085px;
  margin: auto;
  justify-content: space-between;
  /* border: 1px solid black; */
}
.productCountDiv {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.06em;
  color: #000000;
  margin-left: 257px;
  margin-top: 24px;
}
.sort {
  width: 48px;
  height: 16px;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.06em;
  color: #000000;
  margin-top: 34px;
}

.sortCard {
  margin-left: 14px;
  margin-top: 20px;
}

.filterandProductDiv {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  max-width: 1084px;
  margin-top: 30px;
  margin: auto;
  margin-top: 44px;
}

/* .FilterCardDiv {
  margin-left: 178px;
} */

.productCardDiv {
  width: 830px;

  /* border: 1px solid black; */
  margin-left: 18px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 18px;
  /* display: flex;
  flex-wrap: wrap; */
}

.paginationButton {
  /* font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 500; */
  font-size: 20px;
  line-height: 24px;
  margin: 20px auto;
}

.footerDiv {
  background: #f3f5f7;
  margin-top: 200px;
}

a {
  text-decoration: none;
}
